@use "@/styles/_media-mixin.scss" as media;
@use "@/styles/_mixins.scss" as mix;

.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);

  display: none;
}

.formWrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  overflow-y: auto;

  display: none;

  background: #020512;
  box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);

  transform: none;
  border-radius: 0px;

  @include media.media-lg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    max-height: 90vh;
    width: auto;

    border-radius: 10px;
  }
}

.show {
  display: flex;
}

.formContainer {
  position: relative;
  padding: 20px;
  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: column;
  row-gap: 40px;

  @include media.media-md {
    flex-direction: row;
  }
}

.closeBtn {
  position: absolute;
  top: 44px;
  right: 44px;

  height: 24px;
  width: 24px;

  fill: #fff;
  cursor: pointer;

  @include media.media-md {
    top: 24px;
    right: 24px;
  }
}

.content {
  padding: 24px;
  height: auto;

  display: flex;
  flex-direction: column;
  flex: 1;

  border-radius: 16px;
  border: 1px solid #3c3d3f;
  background-color: #141517;
  // background: url("./img/contact_bg.jpg") center center / cover no-repeat;

  @include media.media-md {
    min-width: 420px;
    padding: 50px 40px;
    border-radius: 10px;
  }
}

.logo {
  width: 132px;
  height: auto;
  fill: #fff;
}

.title {
  margin-top: 64px;

  color: #fff;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  @include media.media-md {
    margin-top: auto;
  }
}

.description {
  margin-top: 24px;

  color: rgba(255, 255, 255, 0.8);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.16px;
}

.contactList {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contactItem {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}

.contactTitle {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.contact {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include media.media-md {
    padding: 60px 60px 30px 60px;
  }
}

.formTitle {
  color: var(--text-primary, #fff);

  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.48px;
}

.formGroup {
  position: relative;
  margin-top: 28px;

  display: flex;
  flex-direction: column;
}

.label {
  color: #fe6a2e;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
}

.input {
  position: relative;
  padding: 8px 16px;

  border-radius: 8px;
  border: 1px solid var(--Light-gray, #3c3d3f);
  background: var(--Gray, #141517);

  color: var(--White-Text, #ececec);
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 0.16px;
}

.textareaGroup {
  margin-bottom: 38px;
}

.textarea {
  resize: none;
  height: auto;
}

.submitBtn {
  @include mix.btn-filled;
  padding: 20px 40px;
}

.error {
  position: absolute;
  top: calc(100%);
  left: 0;

  color: #ff7171;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
