@use '@/styles/_media-mixin.scss' as media;
@use '@/styles/_variables.scss' as vars;
@use '@/styles/_mixins.scss' as mix;

.section {
  position: relative;
  padding: 80px 0;

  background-color: #000302;
  overflow: hidden;

  @include media.media-lg {
    padding: 140px 0;
  }

  @include media.media-2xl {
    padding: 160px 0;
  }
}

.triangles {
  position: absolute;
  z-index: 0;
  max-inline-size: none;
  object-fit: contain;

  &_1 {
    top: 0;
    left: -66px;

    @include media.media-lg {
      top: auto;
      bottom: 0;
    }
  }
}

.content {
  position: relative;
  z-index: 1;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  @include media.media-lg {
    row-gap: 12px;
  }
}

.label {
  color: var(--text-Secondary, rgba(255, 255, 255, 0.8));
  font-family: 'Outfit';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 12px */
  letter-spacing: 0.96px;
  text-transform: uppercase;

  @include media.media-lg {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
  }

  @include media.media-2xl {
    font-size: 20px;
    letter-spacing: 1.6px;
  }
}

.title {
  color: rgba(245, 245, 245, 0.5);
  text-align: center;

  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: 0.32px;
  text-transform: uppercase;

  @include media.media-lg {
    font-size: 68px;
    letter-spacing: 0.68px;
  }

  @include media.media-2xl {
    font-size: 92px;
    letter-spacing: 0.92px;
  }
}

.logos {
  margin-top: 32px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-content: center;

  &.hasLasChildOdd > :last-child {
    grid-column: span 2;
    border-right: none;
    border-bottom: 1px solid #3c3c3c;
  }

  @include media.media-lg {
    margin-top: 80px;
    max-width: 1080px;
    grid-template-columns: repeat(4, 25%);

    &.hasLasChildOdd > :last-child {
      grid-column: span 1;
      border-right: 1px solid #3c3c3c;
      border-bottom: 1px solid #3c3c3c;
    }

    & > :last-child {
      grid-column: span 1;
      border: none;
      border-right: 1px solid #3c3c3c;
      border-bottom: 1px solid #3c3c3c;
    }
  }

  @include media.media-xl {
    max-width: 1320px;
  }

  @include media.media-2xl {
    max-width: 1640px;
    margin-top: 100px;
  }
}

.logoWrapper,
.seeMoreWrapper {
  padding: 40px 20px;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  @include media.media-lg {
    padding: 60px 20px;
    height: 200px;
  }

  @include media.media-2xl {
    height: 240px;
  }
}

.logoWrapper {
  &:nth-child(1) {
    border-top: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
  }

  &:nth-child(2) {
    border-top: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
  }

  &:nth-child(2n + 3) {
    border-right: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
  }

  &:nth-child(n + 3) {
    border-bottom: 1px solid #3c3c3c;
  }

  &:nth-child(n + 7) {
    display: none;

    &.show {
      display: flex;
    }
  }

  &:last-child {
    display: flex;
  }

  @include media.media-lg {
    border: none;
    border-bottom: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;

    &:nth-child(4n + 1) {
      border-left: 1px solid #3c3c3c;
    }

    &:nth-child(-n + 4) {
      border-top: 1px solid #3c3c3c;
    }

    &:nth-child(n + 7) {
      display: flex;
    }

    &:nth-child(n + 8) {
      display: none;

      &.show {
        display: flex;
      }
    }
  }
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo {
  width: auto;
  height: 100%;

  opacity: 0.8;
  filter: grayscale(1);

  transition: all 0.2s ease;

  &:hover {
    opacity: 1;
    filter: grayscale(0);
  }
}

.logoSVG {
  transition: all 0.2s ease;

  path {
    transition: all 0.2s ease;
  }
}

.logoImg {
  object-fit: contain;
}

.airEye {
  .logo {
    height: 38px;

    @include media.media-lg {
      height: 46px;
    }

    @include media.media-2xl {
      height: 50px;
    }
  }
}

.hiSky {
  .logo {
    height: 64px;

    @include media.media-lg {
      height: 80px;
    }

    @include media.media-2xl {
      height: 90px;
    }
  }
}

.xtend {
  .logo {
    height: 42px;

    @include media.media-lg {
      height: 50px;
    }

    @include media.media-2xl {
      height: 60px;
    }
  }
}

.avnon {
  .logo {
    height: 74px;

    @include media.media-lg {
      height: 98px;
    }

    @include media.media-2xl {
      height: 110px;
    }
  }
}

.isi {
  .logo {
    height: 64px;

    @include media.media-lg {
      height: 88px;
    }

    @include media.media-2xl {
      height: 100px;
    }
  }
}

.iai {
  .logo {
    height: 64px;

    @include media.media-lg {
      height: 80px;
    }

    @include media.media-2xl {
      height: 90px;
    }
  }
}

.permoid {
  .logo {
    height: 56px;

    @include media.media-lg {
      height: 78px;
    }

    @include media.media-2xl {
      height: 90px;
    }
  }
}

.san {
  .logo {
    height: 64px;

    @include media.media-lg {
      height: 80px;
    }

    @include media.media-2xl {
      height: 90px;
    }
  }
}

.robotican {
  .logo {
    height: 46px;

    @include media.media-lg {
      height: 64px;
    }

    @include media.media-2xl {
      height: 80px;
    }
  }
}

.thrivedx {
  .logo {
    height: 26px;

    @include media.media-lg {
      height: 30px;
    }

    @include media.media-2xl {
      height: 34px;
    }
  }
}

.silverShadow {
  .logo {
    height: 34px;

    @include media.media-lg {
      height: 34px;
    }

    @include media.media-2xl {
      height: 40px;
    }
  }
}

.seeMore {
  color: #aeaeae;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.48px;

  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: #f9f9f9;
  }
}
